input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 40px;
    background: var(--slider-icon) no-repeat center;
    background-size: contain;
    border: none;
    margin-top: -18px;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    height: 40px;
    width: 40px;
    background: var(--slider-icon) no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
}
